* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-container.row {
    flex-direction: row;
}

.qvplaceholder,
.qvobject {
    height: 300px;
    min-width: 400px;
    margin: 45px 0 0 45px;
}

#popup {
    background-color: #c3534b;
    color: #ffffff;
    position: fixed;
    max-width: 250px;
    padding: 10px;
    margin: 10px;
    bottom: 0;
    right: 0;
    display: none;
    border-radius: 5px;
    z-index: 6;
    font-family: sans-serif;
}

.close {
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    position: absolute;
    right: 9px;
    top: 7px;
}

.close:hover {
    opacity: 0.5;
}

#popupText {
    margin-right: 23px;
}

/****************************************************************************************/

.xs {
    height: 100px;
}
.s {
    height: 200px;
}
.m {
    height: 300px;
}
.l {
    height: 500px;
}
.xl {
    height: 1000px;
}

.content {
    /* height: calc(100vh - 40px); */
    width: 100%; /* 210mm; 226mm 228mm*/
    max-width: 333mm;
    margin: 0 auto;
    padding: 2rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.qlik_object {
    margin: 0;
    height: auto;
}

.qv-object-content-container {
    /* min-height: 300px */
}

.loading {
    border: 1px solid black;
    border-radius: 6px;
    background-color: inherit;

    transition: background-color 0.25s ease-in-out;
}

.loading:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.page-title {
    /* width: 100%; */
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin: 0;
    text-align: center;
    color: #fff;

    font-size: 2rem;
    padding: 10px 0;
}

/*** Qlik elements ***/

#site-dropdown {
    height: 36px;
}

#site-title {
    height: 50px;
}

h1.section-header {
    font-size: 2rem;
}
h2.section-header {
    font-size: 1.75rem;
}

/***********************/
.jpo-table {
    /* height: 300px; */

    /* Style to center loader */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /**************************/

    /* Font styles */
    font-size: 0.9rem;
}

.jpo-table * {
}

.jpo-table > table td,
.jpo-table > table th {
    padding: 0.25rem;
}

.jpo-table > table th {
    background-color: #162a4b;
    color: #fff;
}

.jpo-table > table tr {
    border-bottom: 1px solid #dddddd;
}
.jpo-table > table tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.jpo-table > .notes-section {
    width: 100%;
}

.jpo-table > .notes-section > .notes-header {
    font-size: 1.5rem;
}

.jpo-table > .notes-section > .notes-body {
    margin-left: 1rem;
}
/***************************/

#poc-table {
    height: 320px;
}

.content > .jpo-table .vl-navigation-panel.top {
    display: none !important;
}

.issue-capabilities-table {
    text-align: center;
}

/*********************/

#print-button {
    /* height: 100%; */
    height: 38px;
    width: 109px;
}

#print-button .qv-object-content-container {
    height: 2rem;
}

#xrwamkt_content button {
    height: 100%;
    width: 100%;
}

.has-loader {
    display: flex;
    align-items: center;
}

/* .content > div {
    height: 1000px;
} */
